body {
  font-family: 'Tahoma';
  background-color: #808080;
  color: #eee;
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.schedule_container {
  margin: 20px auto;
  width: 900px;
  padding: 10px;
}

.schedule_container table td, .schedule_container table th {
  padding: 5px;
  border: 1px solid #ccc;
}
.schedule_container button {
  border-radius: none;
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.spinner {
  margin: 50px auto;
}
.items_header {
  background-color: #ddd;
  color: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
