body {
  font-family: 'Tahoma';
  background-color: #999;
  color: #fff;
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.schedule_container {
  margin: 20px auto;
  width: 900px;
  padding: 10px;
}
.ReactTable {
  -webkit-box-shadow: 3px 3px 10px 2px #222;
  -moz-box-shadow:    3px 3px 10px 2px #222;
  box-shadow:         3px 3px 10px 2px #222;
}

.schedule_container button {
  border-radius: none;
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Tahoma;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.spinner {
  margin: 50px auto;
}
.reset_filter {
  text-align: right;
  margin-bottom: 10px;
}
.reset_filter a {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 3px 5px;
  text-decoration: none;
}
.reset_filter a:hover {
  text-decoration: underline;
}
.rt-th.rt-resizable-header.-cursor-pointer:focus {
  outline: none;
}
.rt-thead.-header {
  background-color: #ddd;
  color: #222;
  font-weight: bold;
}
.rt-th.-cursor-pointer div, .ReactTable .rt-th, .ReactTable .rt-td {
  word-break: break-word;
  white-space: initial;
  margin: auto;
}
.ReactTable.-striped .rt-tr {
  border: 1px solid #ccc;
}
.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid #ccc;
  padding: 5px;
  color: #eee;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
